@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Urbanist&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}

.header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5598cc;
  color: white;
  font-size: 1.2rem;
}

.navbar {
  text-align: right;
  margin-right: 20px;
  font-size: 1.7rem;
  padding-right: 20px;
  border-right: solid;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar li {
  list-style-type: none;
  padding-top: 5px;
}

.links {
  display: block	;
}

.content {
  font-family: 'Montserrat', sans-serif;
  color: #77abd3;
  background-color: #001a2e;
  font-size: 1.2rem;
  padding: 40px;
}

#about {
  text-align: center;
  text-align: left;
}

#projects {
  height: 100vh;
  margin-top: 70px;
}
